@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

:root {
  --color-primary: #137beb;
  --color-dark: #0d141c;
  --color-muted: #4a709c;
  --color-border: #cfdbe7;
}

@layer components {
  .text-primary {
    @apply text-[var(--color-primary)];
  }

  .text-dark {
    @apply text-[var(--color-dark)];
  }

  .text-muted {
    @apply text-[var(--color-muted)];
  }
}
